.background {
  background-color: #F0F0F0 transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* heder start  */

.main-header {
  height: 150px;
  background-color: #FFF8D7;
}

.main-header .body {
  position: relative;
  width: 920px;
  margin: 0 auto;
}

.main-header .navbar-top {
  position: relative;
  height: 34px;
  width: 920px;
  margin: 0 auto;
  background: #f0d180;
  padding: 0 10px;
}

.main-header .form-top {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1002;
}

.main-header .navbar-top a {
  font-size: 16px;
  line-height: 32px;
  padding: 0 6px;
  color: #555;
  text-shadow: 0 1px 0 #f6e3b3;
  color: inherit;
  text-decoration: none;
}

.main-header .logo {
  position: absolute;
  width: 920px;
  top: 0px;
  left: 70px;
  height: 66px;
}

.main-header .body a {
  color: inherit;
  text-decoration: none;
}

.main-header .body h1 {
  font-size: 50px;
  letter-spacing: 10px;
  color: #842B00;
  line-height: 10px;
  padding: 0px 0 0 75px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgb(66, 58, 58);
  cursor: pointer;
}

.main-header .body h2 {
  font-size: 20px;
  color: #6C6C6C;
  letter-spacing: 5px;
  font-family: Tahoma;
  padding: 0px 0 0 75px;
  text-shadow: 0 1px 0 #D26900;
  cursor: pointer;
  font-weight: normal;
}

/*  menu start */
nav ul {
  background-color: #f6e3b3;
  list-style: none;
  /* 移除項目符號 */
  padding: 0;
  width: 650px;
  position: relative;
  margin: 0 auto;
  padding: 0 145px
}

nav li {
  width: 130px;
  height: 42.5px;

}


nav a {
  color: inherit;
  /* 移除超連結顏色 */
  display: block;
  /* 讓 <a> 填滿 <li> */
  font-size: 17px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  /* 移除超連結底線 */

}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav a:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}

.flex-nav {
  display: flex;
}

/*  section */

.container {
  width: 940px;
  position: relative;
  margin-right: auto;
  margin-left: auto;

}

.container-index {
  margin: 20px 0 30px;
}

/*  picture start */

.coverflow {
  width: 400px;
  height: 300px;
  position: relative;
  top: 10px;
  left: 20px;
  border: 8px #844200 double;
  float: left;

}

.coverflow>a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
  -webkit-animation: silder 20s linear infinite;
  animation: silder 20s linear infinite;
}

.coverflow>a>img {
  max-width: 100%;
}

/*動畫關鍵影格*/
@-webkit-keyframes silder {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes silder {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

/*每個圖片各延遲5秒*/
.coverflow>a:nth-child(8) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.coverflow>a:nth-child(7) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.coverflow>a:nth-child(6) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.coverflow>a:nth-child(5) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.coverflow>a:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.coverflow>a:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.coverflow>a:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

/*滑入時停止播放*/
.coverflow:hover>a {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/*關於交誼廳*/

.about {
  width: 400px;
  height: 310px;
  position: relative;
  top: 10px;
  right: -100px;
  border: 3px #844200 dashed;
  float: left;
}

.about h1 {
  text-align: center;
  letter-spacing: 3px;
}

.about p {
  text-align: left;
  font-size: 18px;
  letter-spacing: 4px;
  padding-left: 30px;
  padding-right: 30px;
  text-indent: 45px;
}

/*Footer*/

.footer {
  height: 100px;
  position: relative;
  margin: 30px auto;
  top: 30px;
  clear: both;
  bottom: 10px;
  background: #FFF8D7;
}

.container {
  width: 940px;
  position: relative;
  margin-right: auto;
  margin-left: auto;

}

.footer .container p {
  line-height: 20px;
  letter-spacing: 3px;
  font-size: 12px;
  color: #842B00;
  padding-top: 15px;
}

/*about global*/
.block {
  margin-left: 2px;
}

.aboutg {
  width: 940px;
}

.article {
  padding: 25px;
  min-height: 335px;
  height: auto;
}

.content-white {
  background-color: #FFF;
  padding: 10px;
}

/*about global_文章內容*/
div.image-left {
  float: left;
  margin: 0 40px 8px -5px;
  padding-top: 40px;
}

div.image-left img {
  border: 1px solid #ccc;
  padding: 5px;
  width: 400px auto;
  height: 300px;
}

.imagetext {
  font-size: 25px;
  font-weight: bold;
  color: #842B00;
  padding-top: 0px;
  padding-bottom: 5px;
  line-height: 1px;
  letter-spacing: 5px;
}

.imagep {
  font-size: 16px;
  color: black;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 2px;
  text-indent: 40px;
}

/*設施介紹*/
.image-container {
  max-width: 80%;
  margin: 0 auto;
}

.image1 {
  float: right;
  width: 350px auto;
  height: 250px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 20px;
}

.image2 {
  float: left;
  width: 350px auto;
  height: 250px;
  margin-right: 80px;
  border: 1px solid #ccc;
  padding: 5px;
}

.image1-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.image2-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.clear-fix {
  overflow: auto;
  zoom: 1;
}

.pp1 {
  font-size: 18px;
  text-align: justify;
  padding-left: 40px;
}


@media screen and (max-width: 767px) {
  .image-container {
    background-color: lightgreen;
    max-width: 100%;
  }
}

.pp2 {
  font-size: 34px;
  font-weight: bold;
  color: #842B00;
  padding-top: 40px;
  padding-bottom: 5px;
  line-height: 1px;
  letter-spacing: 5px;
  text-indent: -40px;
}

.pp3 {
  font-size: 34px;
  font-weight: bold;
  color: #842B00;
  padding-top: 40px;
  padding-bottom: 5px;
  line-height: 1px;
  letter-spacing: 5px;
}

.f-width {
  border: 1px solid #ccc;
  width: 850px;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
  color: black;
  line-height: 20px;
  font-size: 18px;
}

.f-width a {
  font-size: 30px;
  color: inherit;
  text-decoration: none;
  color: red;
}

/*關於我們*/
.team-section {

  text-align: center;
}

.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  color: #333;
  overflow: hidden;
}

.team-section h1 {
  color: #842B00;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid;
  padding-bottom: 10px;
}

.pe {
  float: left;
  width: calc(100%/4);
  overflow: hidden;
  padding: 40px 0;
  transition: 0.4s;
}

.pe:hover {
  background: #ddd;
}

.pe img {
  width: 120px;
  height: 120px;
}

.p-name {
  margin: 16px 0;
  text-transform: uppercase;
}

.p-des {
  font-style: italic;
  color: #3498db;
  margin: 0 16px;
}

.p-sm {
  margin-top: 12px;
}

.p-sm a {
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

.p-sm a:hover {
  transform: scale(1.3);
}

.p-sm a i {
  color: #333;
  line-height: 30px;
}

@media screen and(max-width:600px) {
  .pe {
    width: 100%
  }
}

/*活動花絮*/
.activity-width {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  color: #333;
  overflow: hidden;
}

.activity-header {
  width: 800px;
  height: 80px;
  padding-left: 30px;
}

.activity-section .activity-header h1 {
  color: #842B00;
  font-weight: bold;
  font-size: 23px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 3px solid;
  line-height: 40px;
}

/*活動花絮-圖片*/
.container-activity {
  width: 850px;
  height: 600px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: #F0F0F0;
}

.container-activity ul {
  list-style: none;
  position: relative;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
}

/* 小圖片 start */
.container-activity ul li {
  width: 130px;
  cursor: pointer;

  padding: 0 3px 5px 3px;
  ;
}

.container-activity ul li img {
  width: 100%;
  border: 3px solid transparent;
}

/* 小圖片 end */

/* 大圖片 start */
.container-activity ul .bigImg1 {
  position: absolute;
  top: 0;
  width: 600px;
  height: 450px;
  border: 5px solid transparent;
  background: url(../images/l11.jpg) no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

.container-activity ul .bigImg2 {
  position: absolute;
  top: 0;
  width: 600px;
  height: 450px;
  border: 5px solid transparent;
  background: url(../images/c11.jpg) no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

.container-activity ul .bigImg3 {
  position: absolute;
  top: 0;
  width: 600px;
  height: 450px;
  border: 5px solid transparent;
  background: url(../images/v11.jpg) no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

/* 大圖片 end */
.container-activity ul li:nth-child(1):hover~.bigImg1 {
  background-image: url(../images/l11.jpg);
}

.container-activity ul li:nth-child(2):hover~.bigImg1 {
  background-image: url(../images/l12.jpg);
}

.container-activity ul li:nth-child(3):hover~.bigImg1 {
  background-image: url(../images/l13.jpg);
}

.container-activity ul li:nth-child(4):hover~.bigImg1 {
  background-image: url(../images/l14.jpg);
}

.container-activity ul li:nth-child(5):hover~.bigImg1 {
  background-image: url(../images/l15.jpg);
}

.container-activity ul li:nth-child(6):hover~.bigImg1 {
  background-image: url(../images/l16.jpg);
}

.container-activity ul li:nth-child(7):hover~.bigImg1 {
  background-image: url(../images/l17.jpg);
}

.container-activity ul li:nth-child(8):hover~.bigImg1 {
  background-image: url(../images/l18.jpg);
}


.container-activity ul li:nth-child(1):hover~.bigImg2 {
  background-image: url(../images/c11.jpg);
}

.container-activity ul li:nth-child(2):hover~.bigImg2 {
  background-image: url(../images/c12.jpg);
}

.container-activity ul li:nth-child(3):hover~.bigImg2 {
  background-image: url(../images/c13.jpg);
}

.container-activity ul li:nth-child(4):hover~.bigImg2 {
  background-image: url(../images/c14.jpg);
}

.container-activity ul li:nth-child(5):hover~.bigImg2 {
  background-image: url(../images/c15.jpg);
}

.container-activity ul li:nth-child(6):hover~.bigImg2 {
  background-image: url(../images/c16.jpg);
}

.container-activity ul li:nth-child(7):hover~.bigImg2 {
  background-image: url(../images/c17.jpg);
}

.container-activity ul li:nth-child(8):hover~.bigImg2 {
  background-image: url(../images/c18.jpg);
}

.container-activity ul li:nth-child(1):hover~.bigImg3 {
  background-image: url(../images/v11.jpg);
}

.container-activity ul li:nth-child(2):hover~.bigImg3 {
  background-image: url(../images/v12.jpg);
}

.container-activity ul li:nth-child(3):hover~.bigImg3 {
  background-image: url(../images/v13.jpg);
}

.container-activity ul li:nth-child(4):hover~.bigImg3 {
  background-image: url(../images/v14.jpg);
}

.container-activity ul li:nth-child(5):hover~.bigImg3 {
  background-image: url(../images/v15.jpg);
}

.container-activity ul li:nth-child(6):hover~.bigImg3 {
  background-image: url(../images/v16.jpg);
}

.container-activity ul li:nth-child(7):hover~.bigImg3 {
  background-image: url(../images/v17.jpg);
}

.container-activity ul li:nth-child(28):hover~.bigImg3 {
  background-image: url(../images/v18.jpg);
}

/*我有問題*/
.contact-box {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  margin: 10px 150px 10px 250px;
  ;
  padding: 10px;
  border-radius: 14px;


}

form {
  margin: 25px;
}

.input-field {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  margin-left: 15px;
  padding-left: 10px;
  border-radius: 14px;
  outline: none;
  font-size: 16px;

}

.input-field1 {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  margin-left: 15px;
  padding-left: 10px;
  border-radius: 14px;
  outline: none;
  font-size: 16px;

}

.questipn-main {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  float: left;

}

.textarea-field {
  height: 200px;
  padding-top: 10px;
}

.btn {
  border-radius: 14px;
  width: 100px;
  height: 50px;
  color: #842B00;
  margin: 18px 120px 0px;
  padding: 12px;
  background-color: #f6e3b3;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
}

/*我有問題*/
.video-header {
  color: #842B00;
  font-weight: bold;
  font-size: 26px;
  display: inline-block;
  border-bottom: 3px solid;
  padding-bottom: 10px;
}

.video-text {
  width: 300px;
  height: 300px;
  position: relative;
  top: 10px;
  left: 0px;
  border: 3px #844200 solid;
  border-radius: 14px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.video-text p {
  text-align: left;
  font-size: 18px;
  letter-spacing: 4px;
  padding-left: 30px;
  padding-right: 30px;
  text-indent: 45px;
}